Flask==0.12.2
Flask-SocketIO==2.9.1
gunicorn==19.7.1
MarkupSafe==1.0
Pillow==7.1.0
Werkzeug==0.12.2
python-socketio==1.7.7
python-engineio==3.12.1
six==1.10.0
Jinja2==2.9.6
itsdangerous==0.24
gevent-websocket==0.10.1
eventlet==0.25.2
Flask-RESTful==0.3.8
Pyrebase==3.0.27
requests==2.20.0
pdf2image==1.13.1
Shapely==1.7.0
